<div>
  <h2>more info</h2>
  <!-- <p>This is a test. See my <a href="">CV</a>.</p> -->
  <ul>
    <li>My <a href="{{ "/assets/pdf/CV.pdf" | relative_url }}">CV</a></li>
    <li><a href=" {{ "teaching" | relative_url }}">Teaching</a> and thesis opportunity</li>
    <li><a href=" {{ "join_us" | relative_url }}">Join</a> our lab!</li>
    <li>I received a BA in Classical Piano from the Conservatory of Trieste (Italy), the city where I was born in 1979</li>
    <li>In my <a href=" {{ "personal" | relative_url }}">free time</a>, I enjoy(ed) bike touring around Europe, skating, jazz music and Aikido</li>
  </ul>
</div>


<!-- pointing to my CV, personal interests, other useful links, brief info about teaching and thesis and joining our lab -->