---
layout: default
---
<div class="post">

  <header class="post-header">
    <a id="top"></a>
    
    {% if page.head_banner %}
      <div class="row">
        <div class="col-sm mt-3 mt-md-0">
          <img class="img-fluid rounded" style="width:100%;" src=" {{ page.head_banner | relative_url}} " alt="banner">
        </div>
      </div>
      <p></p>
    {% endif %}
    
<!-- NOTE: find a better way to implement the style for the banner (i.e. use correct CSS styles) -->

    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>


